.miCarousel{max-height: 500px;}

i.miInstagram{color: coral;
               font-size: 60px;}

button.btn-light{border: 5px solid #ff909f;}

button.btn-info{margin: top 10px;
                margin-left: 70px;
                border: 1px solid #20067c;}